.header{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    padding: 1rem 2rem;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 20px var(--shadow);
    border-radius: 100px;
}
.nav-item{
    position: relative;
    transition:all 0.4s;
    scale: 1;
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-weight: 700; 
    text-shadow: 0 0 10px var(--shadow);

}
.nav-item:hover{
    scale: 1.2;
    text-shadow: 0 0 20px var(--shadow);

}
.nav-item::after{
    content:"" ;
    position:absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    border-radius: 2px;
    background-color: var(--after-bg);
    box-shadow: 0 0 5px 0 var(--shadow);
    transition: all 0.4s;
}
.nav-item:hover::after{
    width: 100%;
    box-shadow: 0 0 5px 2px var(--shadow);
    left: 0;
}